<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drgeetoka/image/upload/v1723632840/70-bedneyimages_krahwa.jpg);">
  <div class="container">
    <h1>Trouve ta tondeuse écologique</h1> <br>
    <input type="search" placeholder="trouve ta chèvre par ville" id="site-search" name="q" />
    <button class="template-button">Rechercher</button>
  </div>
</div>


<div class="container">
  <div class="cards">
    <div class="row">
      <% @goats.each do |goat| %>
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 22rem;">
            <% if goat.photos.any? %>
              <%= cl_image_tag goat.photos.first.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
            <% else %>
              <img class="card-img-top" src="default_image.jpg" alt="Default image">
            <% end %>
            <div class="card-body">
              <h3 class="card-title"><%= goat.name %></h3>
              <p class="card-text"><%= goat.race %></p>
              <p class="card-text owner-text">Propriétaire de la chèvre : <%= goat.user.first_name %></p>
              <%= link_to "Affiche cette chèvre", goat, class: "template-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
