<h1 class="display-4 text-center my-4">Chèvre</h1>
<div class="container">
  <div class ="my-3 container-fluid shadow p-3 mb-5" style=" height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="row">
    <% @goats.each do |goat| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <% if goat.photos.any? %>
            <%= cl_image_tag goat.photos.first.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
          <% else %>
            <img class="card-img-top" src="default_image.jpg" alt="Default image">
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= goat.name %></h3>
            <p class="card-text"><%= goat.race %></p>
            <p class="card-text">Propriétaire de la chèvre : <%= goat.user.first_name %></p>
            <%= link_to "Affiche cette chèvre", goat, class: "template-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
