<div class="container">
  <h1>Ajoute une nouvelle chèvre </h1>
  <hr>
  <%= simple_form_for(@goat) do |f| %>
    <%= f.input :name, label: 'Nom de la biquette'%>
    <%= f.input :race %>
    <%= f.input :description %>
    <%= f.input :address, label:"Localisation",
  input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit 'Ajouter' , class:"template-button"%>
  <% end %>
</div>
