<div class="container">
  <h2>Votre chèvre est : <%= @goat.name %></h2>
  <p>Espèce de la chèvre : <%= @goat.race  %></p>
  <p>Détails : <%= @goat.description %></p>
  <%# <p><%= @goat.photo </p> %>
  <p>Propriétaire de la chèvre : <%= @goat.user[:id] %>
  <hr>
  <%= link_to "Revenir à la liste", goats_path %>
</div>
