<div class="container">
  <h2>Your Fuckin' Goat is <%= @goat.name %></h2>
  <p>Species : <%= @goat.race  %></p>
  <p>Details : <%= @goat.description %></p>
  <%# <p><%= @goat.photo </p> %>
  <p>Goat's Owner : <%= @goat.user[:id] %>
</div>
