<h1>Vos demandes de Location</h1>

<h2>Les demandes de location pour mes chèvres</h2>
<br>

<ul>
  <div class="container mt-5">
    <div class="row">
      <% current_user.goats.each do |goat| %>
        <% goat.locations.each do |loc| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Demande pour ma chèvre <strong><%= loc.goat.name %></strong></h5>
                <p class="card-text"><strong>Loueur </strong> <%= loc.user.first_name %></p>
                <p class="card-text"><strong>Début </strong> <%= loc.start_date %></p>
                <p class="card-text"><strong>Fin </strong> <%= loc.end_date %></p>
                  <% if loc.status == "pending" %>
                    <%= link_to 'Valider la demande', location_path(loc), data: { turbo_method: :patch } %>
                  <% else %>
                    <p class="card-text">Votre demande de location est <strong>validée !</strong></p>
                  <% end %>
                  <br>
                  <%= link_to 'Supprimer la demande', location_path(loc), data: { turbo_method: :delete } %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</ul>

<br>
<h2>Les demandes de location de chèvre effectuées</h2>
<br>
<ul>
 <div class="container mt-5">
  <div class="row">
    <% current_user.locations.each do |location| %>
      <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Demande faite à <strong><%= location.goat.user.first_name %></strong></h5>
              <p class="card-text"><strong>Début </strong> <%= location.start_date %></p>
              <p class="card-text"><strong>Fin </strong> <%= location.end_date %></p>
              <p class="card-text"><strong>Détails </strong> <%= location.details %></p>
              <% if location.status == "pending" %>
                  <p class="card-text">Votre demande de location est <strong>en attente.</strong></p>
              <% else %>
                  <p class="card-text">Votre demande de location est <strong>validée !</strong></p>
              <% end %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
