<h1 class="text-center">Vos demandes de Location</h1>
<hr>
<% if current_user.goats.any? %>
  <div class="container mt-5">
    <h2>Les demandes de location pour mes chèvres</h2>
    <br>
    <ul>
      <div class="row">
        <% current_user.goats.each do |goat| %>
          <% goat.locations.each do |loc| %>
            <div class="col-md-4 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">Demande pour ma chèvre <strong><%= loc.goat.name %></strong></h5>
                  <p class="card-text"><strong>Loueur </strong> <%= loc.user.first_name %></p>
                  <p class="card-text"><strong><i class="fa-solid fa-play"></i> </strong> <%= loc.start_date %></p>
                  <p class="card-text"><strong><i class="fa-solid fa-flag-checkered"></i> </strong> <%= loc.end_date %></p>
                  <p class="card-text"><strong><i class="fa-regular fa-comments"></i> </strong> <%= loc.details %></p>
                    <% if loc.status == "pending" %>
                      <%= link_to 'Valider la demande', location_path(loc), data: { turbo_method: :patch }, class: "template-button" %>
                    <% else %>
                      <p class="card-text"><i class="fa-solid fa-circle-check"></i> Votre demande de location est <strong>validée ! </strong></p>
                    <% end %>
                    <br>
                    <%= link_to 'Supprimer la demande', location_path(loc), data: { turbo_method: :delete }, class: "template-button"%>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>
<% end %>

<hr>

<% if current_user.locations.any? %>
  <br>
  <div class="container mt-5">
    <h2>Les demandes de location de chèvre effectuées</h2>
    <br>
    <ul>
    <div class="row">
      <% current_user.locations.each do |location| %>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Demande faite à <strong><%= location.goat.user.first_name %></strong></h5>
                <p class="card-text"><strong><i class="fa-solid fa-play"></i> </strong> <%= location.start_date %></p>
                <p class="card-text"><strong><i class="fa-solid fa-flag-checkered"> </strong> <%= location.end_date %></p>
                <p class="card-text"><strong><i class="fa-regular fa-comments"></i> </strong> <%= location.details %></p>
                <% if location.status == "pending" %>
                    <p class="card-text"><i class="fa-solid fa-hourglass-start"></i> Votre demande de location est <strong>en attente.</strong></p>
                <% else %>
                    <p class="card-text"><i class="fa-solid fa-circle-check"></i> Votre demande de location est <strong>validée !</strong></p>
                <% end %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
<hr>
