<div class="banner">
<h2>Demande de location</h2>
</div>

<div class="form">

  <%= simple_form_for [@goat, @location] do |f| %>
   <div class="form-inputs">
      <%= f.input :details, label: 'Commentaires'%>
      <%= f.input :start_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div class="size-button">
      <%= f.button :submit, 'Ajouter', class:"form-actions" %>
      <%# <%= link_to "Retour au profil", profil_path %>
    </div>
  <% end %>

</div>
