<div class="container">
  <h1>Demande de location</h1>
  <hr>
  <%= simple_form_for [@goat, @location] do |f| %>
      <%= f.input :details, label: 'Commentaires'%>
      <%= f.input :start_date, as: :string,
      label: "Date de début", input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date, as: :string,
      label: "Date de fin", input_html: { data: { controller: "datepicker" } } %>
      <%= f.button :submit, 'Demande', class:"template-button"%>
  <% end %>
  </div>
</div>
